<!-- required params (goal, loggedUser, userGoalProgress, displayMode, clickable) -->
<% if(clickable) { %>
    <a href="/goals/<%= goal.goalID %>" class="goal-card-link">
<% } %>
<div class="goal-card">
    <h2 class="goal-title"><%= goal.title %></h2>
    <p class="goal-description"><%= goal.description %></p>

    <div class="goal-details">
        <p><strong>Type:</strong> <%= goal.goalType %></p>
        <p><strong>Distance:</strong> <%= goal.targetDistanceKm %> km</p>
        <% if (goal.goalType === "Pace") { %>
            <p><strong>Target Pace:</strong> <%= goal.targetPace %> min/km</p>
        <% } %>
        <p><strong>From:</strong> <%= goal.startDate.toDateString() %></p>
        <p><strong>To:</strong> <%= goal.endDate.toDateString() %></p>
        <p><strong>Visibility:</strong> <%= goal.visibility %></p>
    </div>
    <% if (displayMode === "full") { %>
    <!-- ACTION BUTTONS -->
    <div class="goal-actions">
        <% if (loggedUser) { %>
            <% if (loggedUser.userID === goal.creatorUserID) { %>
                <!-- CREATOR: DELETE GOAL -->
                <form action="/goals/<%= goal.goalID %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete Goal</button>
                </form>

            <% } else { %>

                <% if (userGoalProgress !== null) { %>

                    <!-- JOINED: LEAVE -->
                    <form action="/goals/left/<%= goal.goalID %>" method="POST">
                        <button type="submit" class="btn btn-secondary">Leave Goal</button>
                    </form>

                <% } else { %>

                    <!-- NOT JOINED: JOIN -->
                    <form action="/goals/joined/<%= goal.goalID %>" method="POST">
                        <button type="submit" class="btn btn-primary">Join Goal</button>
                    </form>

                <% } %>

            <% } %>

        <% } %>

    </div>
    <% } %>
</div>
<% if(clickable) { %>
    </a>
<% } %>
