<% if (typeof(showUser) !== 'undefined' && showUser) { %>
    <%- include("profileCard.ejs", { 
        user: run.user, 
        followers: [], 
        following: [], 
        loggedUser: loggedUser, 
        isOwner: false, 
        isFollowing: false, 
        displayMode: "tiny" 
    }) %>
<% } %>
<a href="/runs/<%= run.runID %>" class="run-card-link">
    <div class="run-card">
        <div class="run-card-top">
            <h3><%= run.name || "Run " + run.runID %></h3>
            <h2><%= run.distanceKm %> km</h2>
        </div>

    <div class="run-card-body split">
        
        <div class="run-left">
            <p><strong>Duration:</strong> <%= run.durationMinutes %> minutes</p>
            <p><strong>Pace:</strong> 
                <%= (run.durationMinutes * 60 / run.distanceKm).toFixed(0) %> sec/km
            </p>
        </div>
        
        <div class="run-right">
            <span class="run-date"><%= run.dateOfRun.toDateString() %></span>
        </div>

    </div>
</div>
</a>
